@model List<LabSQLEF.MVC.Models.ProductsView>
@{
    ViewBag.Title = "Productos";
}

<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@prod.ID</td>
                    <td>@prod.Name</td>
                    <td>@prod.Price</td>
                    <td>@Html.ActionLink("Borrar", "Delete", new {id = prod.ID }, new { onclick = "return confirm('¿Desea borrar definitivamente el producto?')" })</td>
                </tr>

            }
    </tbody>
</table>

<div>
    @Html.ActionLink("Agregar o actualizar producto", "UpdateOrInsert", "Products")
</div>

